<h1 class="text-center">Обирайте свій шлях до покращення навчання!</h1>
<div class="container">
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Створюйте власні курси</h4>
          <!--<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> для викладачів</small></p>-->
        </div>
        <div class="timeline-body">
          <p>
            Створіть віртуальний аналог свого університетського курсу, або ж самостійний курс з нуля!
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Відслідковуйте прогрес своїх студентів</h4>
        </div>
        <div class="timeline-body">
          <p>Виставляйте оцінки студентам за виконання завдань та спостерігайте за тим, який прогрес кожного з них у
            Вашому курсі.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Завантажуйте та переглядайте матеріали</h4>
        </div>
        <div class="timeline-body">
          <p>Нарешті матеріали до усіх курсів можна зібрати в одному місці! Завантажуйте, оновлюйте, діліться!</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Завантажуйте виконані завдання!</h4>
        </div>
        <div class="timeline-body">
          <p>Отримуйте завдання від викладачів, виконуйте їх та завантажуйте виконані завдання прямо у систему!
            Викладачеві миттєво
            надається доступ до їх перегляду та оцінювання!</p>
        </div>
      </div>
    </li>
  </ul>
</div>
