/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Avenir Next", ultralight;
  background-color: #fbf1f5;
}

nav {
  background: white;
  font-family: "Poiret One";
  position: fixed;
}

navbar {
  background: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.jumbotron {
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  /*background: linear-gradient(to right, #ff6e7f, #bfe9ff);*/
}

.btn {
  margin: 5px;
}

