.card {
  /*height: 100%;*/
  font-family: 'Josefin Slab', serif;
  width: 200px;
  padding: 7px;
  height: 70px;
}
.card-item {
  display: inline-block;
  width: 200px;
  height: 70px;
  margin: 5px;
}


.doc-title {
  font-family: "Avenir Next", ultralight;
  font-size: 12pt;
  padding: 2px;
  text-transform: none;
}

.doc-title:hover {
  cursor: pointer;
  color: #D23F71;
}

.fa-close {
  color: red;
  display: inline;
}

.fa-close:hover {
  color: red;
  cursor: pointer;
}
