.card-item {
  display: inline-block;
  width: 200px;
  height: 70px;
  margin: 5px;
}

.card {
  width: 200px;
  height: 70px;
  padding: 7px;
}


.doc-title {
  font-size: 12pt;
  padding: 2px;
}

.doc-title:hover {
  font-size: 12pt;
  color: mediumseagreen;
  cursor: pointer;
}

.fa-close {
  color: red;
  display: inline;
}

.fa-close:hover {
  color: red;
  cursor: pointer;
}
