<h2 *ngIf="course">{{ course.name }}</h2>
<app-inline-edit *ngIf="course && editMode" [(ngModel)]=course.name (onSave)=saveChanges(course.name)></app-inline-edit>

<button class="btn btn-outline-primary startEdit" (click)="enterEditingMode()" *ngIf="teacher">Edit Course</button>
<button class="btn btn-danger deleteCourse" (click)="deleteCourse()" *ngIf="teacher && editMode">Delete Course</button>

<p *ngIf="course">{{ course.description }}</p>
<app-inline-edit *ngIf="course && editMode" [(ngModel)]=course.description (onSave)=saveChanges(course.description)></app-inline-edit>

<p *ngIf="owner && !teacher">{{ owner.firstName + " " + owner.lastName }}</p>
<h3>Materials:</h3>
<app-doc-tile *ngFor="let doc of documents" [doc]="doc" [editMode]="editMode"></app-doc-tile>
<div *ngIf="editMode">
  <h2>Add Materials:</h2>
  <app-file-uploader [type]="'material'" [course_id]="courseId"></app-file-uploader>
  <button class="btn btn-outline-primary" (click)="update()">Update</button>
</div>

<h3>Tasks:</h3>
<p *ngIf="course">
  <app-task-tile *ngFor="let task of course.tasks" [taskId]="task"></app-task-tile>
</p>

<button class="btn btn-outline-primary" (click)="openTaskCreation()">Create Task</button>

<div *ngIf="teacher">
  <h3>Members:</h3>
  <p *ngIf="course">
    <app-member-tile *ngFor="let member of members" [member]="member" [course]="course"></app-member-tile>
  </p>
</div>
