<div>
  <div>
    <img src="../../assets/images/paint-brush.svg" id="edit" alt="edit" (click)="enterEditingMode()" *ngIf="teacher">
    <h2 *ngIf="course" id="course-name">{{ course.name }}</h2>
    <app-inline-edit *ngIf="course && editMode" [(ngModel)]=course.name
                     (onSave)=saveChanges(course.name)></app-inline-edit>
  </div>

  <div>
    <p *ngIf="course" id="description">{{ course.description }}</p>
    <app-inline-edit *ngIf="course && editMode" [(ngModel)]=course.description
                     (onSave)=saveChanges(course.description)></app-inline-edit>
  </div>
  <hr>

  <p *ngIf="owner && !teacher">{{ owner.firstName + " " + owner.lastName }}</p>
  <p *ngIf="owner && !teacher">{{ owner.eMail}}</p>
  <h3 *ngIf="documents">Materials:</h3>
  <ul class="list-unstyled">
    <li>
      <app-doc-tile *ngFor="let doc of documents" [doc]="doc" [editMode]="editMode"></app-doc-tile>
    </li>
  </ul>
  <div *ngIf="editMode">
    <h3>Add Materials:</h3>
    <app-file-uploader [type]="'material'" [course_id]="courseId"></app-file-uploader>
    <!--<button class="btn btn-outline-primary" (click)="update()">Update</button>-->
  </div>
  <hr>

  <h3>Tasks:</h3>
  <img src="../../assets/images/add.svg" id="add-task" alt="add-task" (click)="openTaskCreation()" *ngIf="teacher && editMode">

  <div class="card-group" *ngIf="course">
    <app-task-tile *ngFor="let task of course.tasks" [taskId]="task"></app-task-tile>
  </div>
  <hr>


  <div *ngIf="teacher">
    <h3>Members:</h3>
    <p *ngIf="course">
      <app-member-tile *ngFor="let member of members" [member]="member" [course]="course"></app-member-tile>
    </p>
  </div>

  <img src="../../assets/images/trash.svg" id="delete-course" alt="add-course" (click)="deleteCourse()" *ngIf="teacher && editMode">

</div>
