.card-item {
  margin: 5px;
  /*height: 200px;*/
}

.card {
  /*height: 100%;*/
  font-family: 'Josefin Slab', serif;
  width: 300px;
  display: inline-block;
}

.card:hover {
  /*color:white;*/
  /*background-color: #D23F71;*/
  cursor: pointer;
}

.card-title {
  text-transform: uppercase;
  font-size: 15pt;
  display: inline-block;
}

#deadline {
  color: darkred;
}

#mark {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #bc4e9c, #f80759);
  color: white;
  margin: 5px;
  text-align: center;
  font-size: 15pt;
}
