#title {
  text-align: center;
  font-size: 17pt;
}

table {
  font-size: 13pt;
  counter-reset: rowNumber;
}

th {
  font-weight: normal;
  text-align: center;
}

td, th {
  vertical-align: middle;
}

table tr:not(#header) {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
}

#count {
  text-align: center;
}

#edit {
  text-align: center;
}

#delete:hover {
  color: red;
  cursor: pointer;
}

#move:hover {
  color: green;
  cursor: pointer;
}

.util {
  font-size: 10pt;
  color: grey;
  text-transform: lowercase;
  vertical-align: middle;
}

.util:hover {
  cursor: pointer;
}

#delete-group {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 1000px;
  filter: opacity(40%);
}

#delete-group:hover {
  cursor: pointer;
  filter: opacity(100%);
}

#add-course {
  display: inline-block;
  margin-left: 800px;
  margin-bottom: 20px;
  margin-top: 50px;
  filter: opacity(40%);
}

#remove-course {
  filter: opacity(40%);
}

#add-course:hover {
  cursor: pointer;
  filter: opacity(100%);
}

#remove-course:hover {
  cursor: pointer;
  filter: opacity(100%);
}
