<div *ngIf="group">
  <p></p>
  <p id="title">{{group.name}}<span class="util" (click)="renameGroup()">  rename</span>
    <span class="util" (click)="addStudent()">/ add student</span></p>
  <table class="table table-bordered">
    <tr id="header">
      <th>#</th>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Username</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let student of students">
      <td id="count"></td>
      <td>{{ student.lastName + " " + student.firstName }}</td>
      <td>{{student.eMail}}</td>
      <td>{{student.username}}</td>
      <td id="edit">
        <span (click)="removeStudent(student)" id="delete">delete</span>
        <span (click)="moveStudent(student)" id="move">move</span>
      </td>
    </tr>

  </table>


  <p><span id="add-course" (click)="addCourse()">add course</span> / <span id="remove-course" (click)="removeCourse()">remove course</span></p>
  <app-course *ngFor="let course of courses" [course]="course" [teacher]="false" [admin]="true"></app-course>


  <img src="../../assets/images/trash.svg" id="delete-group" (click)="deleteGroup()">
</div>
