<div class="card-item">
  <div class="card">
    <div class="card-body">
      <p class="card-title" *ngIf="teacher && student && student.group">
        {{ student.firstName + " " + student.lastName }}, {{student.group.name}}</p>
      <p class="card-text">{{ submittedTask.date | date:'dd MMMM yyyy'}}</p>
      <p class="card-text">Mark: {{ mark }} </p>
      <app-inline-edit *ngIf="teacher" [(ngModel)]=mark (onSave)=saveChanges(mark)></app-inline-edit>

      <div class="card-group">
        <app-doc-tile *ngFor="let doc of documents" [doc]="doc"></app-doc-tile>
      </div>
    </div>
  </div>
</div>
