<form class="my-2 my-lg-0" #usersignup = "ngForm" (ngSubmit) = "signup(usersignup.value)">
  <input class="form-control mr-sm-2" type = "text" name = "username" placeholder = "username" ngModel>
  <input class="form-control mr-sm-2" type = "password" name = "password" placeholder = "password" ngModel>
  <input class="form-control mr-sm-2" type = "password" name = "password" placeholder = "repeat password" ngModel>
  <input class="form-control mr-sm-2" type = "text" name = "firstName" placeholder = "First Name" ngModel>
  <input class="form-control mr-sm-2" type = "text" name = "lastName" placeholder = "Last Name" ngModel>
  <input class="form-control mr-sm-2" type = "email" name = "eMail" placeholder = "E-Mail" ngModel>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
</form>
