<div>
  <div>
    <img src="../../assets/images/paint-brush.svg" id="edit" alt="edit" (click)="enterEditingMode()" *ngIf="teacher">
    <p *ngIf="course" class="task-name">({{course.name}})</p>
    <h3 *ngIf="task" class="task-name">{{task.title }}</h3>
    <app-inline-edit *ngIf="task && editMode" [(ngModel)]=task.title (onSave)=saveChanges(task.title)></app-inline-edit>


    <p *ngIf="task" id="description">{{ task.description }}</p>
    <app-inline-edit *ngIf="task && editMode" [(ngModel)]=task.description
                     (onSave)=saveChanges(task.description)></app-inline-edit>

    <hr>

    <p *ngIf="task" class="deadline">DEADLINE: {{ task.deadline | date:'dd MMMM yyyy' }}</p>
    <app-inline-edit *ngIf="task && editMode" [(ngModel)]=task.deadline
                     (onSave)=saveChanges(task.deadline)></app-inline-edit>
  </div>
  <hr>
  <div>

    <h3>materials:</h3>
    <app-doc-tile *ngFor="let doc of documents" [doc]="doc" [editMode]="editMode"></app-doc-tile>

    <div *ngIf="editMode">
      <h2>add materials:</h2>
      <app-file-uploader [type]="'task'" [task_id]="taskId"></app-file-uploader>
      <button class="btn btn-outline-primary" (click)="update()">Update</button>
    </div>
  </div>
  <div>
    <hr>

    <br/>
    <div *ngIf="teacher && attempts">
      <h3>Completed tasks:</h3>
      <div class="card-group">
        <app-submitted-tile *ngFor="let attempt of attempts" [submittedTask]="attempt"
                            [teacher]="teacher"></app-submitted-tile>
      </div>
    </div>
  </div>

  <div>
    <div *ngIf="!teacher && course">
      <div *ngIf="!uploaded">
        <h4>Upload Completed Task:</h4>
        <app-file-uploader [type]="'submitted'" [task_id]="taskId" [user_id]="currentUser"
                           [course_id]="course._id"></app-file-uploader>
      </div>

      <div *ngIf="attempts.length != 0">
        <h4> My Submits: </h4>
        <div class="card-group">
          <app-submitted-tile *ngFor="let attempt of attempts" [submittedTask]="attempt"></app-submitted-tile>
        </div>
      </div>
    </div>

    <img src="../../assets/images/trash.svg" id="delete-task" alt="delete-task" (click)="deleteTask()"
         *ngIf="teacher && editMode">
    <button class="btn btn-outline-info" (click)="backToCourse()">Back to course</button>
  </div>
</div>
