<div class="container">
  <p>Welcome to your new favourite uni app!</p>
  <form class="my-2 my-lg-0" #usersignup="ngForm" (ngSubmit)="signup(usersignup.value)">
    <div class="form-group">
      <input class="form-control mr-sm-2" type="text" name="username" placeholder="username" ngModel>
    </div>
    <div class="form-group">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="password" ngModel>
    </div>
    <div class="form-group">
      <input class="form-control mr-sm-2" type="password" name="password" placeholder="repeat password" ngModel>
    </div>
    <div class="form-group">
      <input class="form-control mr-sm-2" type="text" name="firstName" placeholder="First Name" ngModel>
    </div>
    <div class="form-group">
      <input class="form-control mr-sm-2" type="text" name="lastName" placeholder="Last Name" ngModel>
    </div>
    <div class="form-group">
      <input class="form-control mr-sm-2" type="email" name="eMail" placeholder="E-Mail" ngModel>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">sign up</button>
    </div>
  </form>
</div>
