.card {
  height: 100%;
  font-family: "Avenir Next", ultralight;
  width: 100px;
  display: inline-block;
}

.card:hover {
  /*color:white;*/
  /*background-color: #D23F71;*/
  cursor: pointer;
}

.card-title {
  text-transform: uppercase;
  line-height: 20px;
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}
