.card {
  width: 150px;
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.card-title{
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  margin: auto;
}

.card:hover {
  background-color: rgba(188,78,156, 0.7);
  cursor: pointer;
}


